body {
    background-image: url(https://lh6.googleusercontent.com/UaNYBwyOXKGWEIO7uhEokIpM-IJSssT0rH4pN4fuV9wlxGphltZ4xfseyQ6MuLUAwBAO3n-I6uk1M1k=w1920-h880);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 3%;
}

list {
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
}

.btn {
    font-size: 20px;
    margin: 5% auto;
    border: 3px solid gray;
    border-style: dashed;
    border-radius: 5px;
    width: 250px;
    height: 70px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-weight: 700;
    word-spacing: 5px;
    color: gray;
}

.btn a {
    text-decoration: none;
}

.btn:link {
    color: gray;
}

.btn:visited {
    color: black;
}

.btn:hover {
    background-color: whitesmoke;
    color: gray;
}

.btn:active {
    background-color: aliceblue;
    color: black;
}
