/* TODO header*/

* {
    box-sizing: border-box;
}

.backgound {
    background-image: url(https://source.unsplash.com/400x300?sky);
    background-repeat: no-repeat;
    background-size: cover;
}


/* TODO nav*/


/* TODO section*/


/* description */

.description {
    font-size: 15px;
    color: gray;
    text-decoration: none;
    line-height: 1;
}


/* TODO image-block*/


/* more button */

.btn {
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
}

.btn-more:link {
    color: lightcoral;
    background-color: whitesmoke;
}

.btn-more:visited {
    color: firebrick;
}

.btn-more:hover {
    color: whitesmoke;
    background-color: lightcoral;
}

.btn-more:active {
    color: firebrick;
}

.btn-more {
    border: 1px solid firebrick;
}

.btn-link:link {
    color: navy;
}

.btn-link:visited {
    color: darkgray;
}

.btn-link:hover {
    color: navy;
    background-color: whitesmoke;
}

.btn-link:active {
    color: skyblue;
}

.btn-link {
    border: 1px solid navy;
    float: left;
    margin: 0px calc(20% - 150px) 0px 50px;
}

.image-block {
    width: calc(33.33% - 10px);
    float: left;
    padding: 10px;
    border: 2px solid olive;
    margin: 5px;
}

.thumbnail {
    width: 100%;
}

.title {
    break-before: left;
}
