    @import url('https://fonts.googleapis.com/css?family=Indie+Flower');

    h1 {
        font-family: "Calibri light", "微軟正黑體", sans-serif;
        font-weight: 500;
        font-size: 56px;
        color: #1a8e98;
        letter-spacing: 2px;
        word-spacing: 10px;
    }
    
    p {
        font-family: "Calibri", "微軟正黑體", sans-serif;
        font-size: 20px;
        color: dimgray;
        letter-spacing: 1px;
        line-height: 2;
        text-decoration: underline;
    }
    /* TODO 圖像區塊*/
    /* TODO 區段的定義*/
